*{
  margin: 0px; padding: 0px;
}
.main{
  width: 1000px; margin: 0px auto;
}
.main .header{
height: 100px; background: orange;
}
.main .content{
  height: 400px; background: lightgray;
}
.main .footer{
  height: 100px; background: gray;
  color:white;
}
table{
  width: 600px;
}
table tr:first-child {
  background: orange; color: white;
}
table tr td{
  padding: 10px;
}